.br-b{border: solid blue 3px;}
.br-r{border: solid red 3px;}
.br-p{border: solid purple 3px;}
.h{min-height: 90vh;}
.hh{min-height: 100vh;}

.nav-container{
    /* border: solid red 3px; */
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.nav-container nav{
    /* border: solid green 3px; */
    height: 100px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container nav ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}
.nav-container nav ul li{
    list-style: none;
}
.nav-container nav ul li a{
    color: white;
    text-decoration: none;
}
.nav-container nav button{
    padding: 12px 25px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: gold;
}
.f{
    width: 100%;
    min-height: 100vh;
    background-image: url(2.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
    

}
.f-s-c{
    height: 360px;
    /* border: solid green 3px; */
    position: relative;
}
.f-s-c img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    


}
.f-s-c button{
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    color: white;
    margin-left: 110px;
    background-color: green;
}



